h1 {
    color: orange;
    background-color: aqua;
    text-align: center;
}

.original-link {
    font-weight:bolder;
    color: blue;
}

p {
    font-weight: bold;
}

#index {
    text-align: center;
}